<html>
<head>
    <!--Параметры страницы-->
    <meta charset="utf-8">
    <title>HappyBirthday</title>
    <link rel="shortcut icon" href="/static/icon.png" type="image/png">
    <link rel="stylesheet" href="/static/styles/map.css">
    <script src="https://cdn.tailwindcss.com"></script>

<body>
    <img src="/static/white.png" class="transform_center transform_start" id="white">
    <img src="/static/happy_birthday.png" class="title">

    <div class="levels">
        {% if change == 2 %}
        <div>
            <img src="/static/cat_info.png">
        </div>
        <div class="text">
            <input type="text" id="text" placeholder="Кодовое слово" maxlength="15" autocomplete="off">
        </div>
        <div class="text">
            <button class="check" id="check">Проверить кодовое слово</button>
        </div>
        <div>
            <img src="/static/task{{level}}.png">
        </div>
        {% else %}
        <div> 
            <img src="/static/cat_block.png">
        </div>
        {% endif %}
        <hr style="margin: auto; width: 60%; size:10 "/>

        <div id="cat_true" style="margin-top: 10%;" class="hide_block">
            <img src="/static/cat_true.png">
        </div>

        <div id="cat_false" class="hide_block">
            <img src="/static/cat_false.png">
        </div>

        
    </div>

    <div class="back" id="back">
        <img src="/static/back.png">
    </div>

    <script src="/static/js/map.js"></script>
    <script>
        document.querySelector("#check").addEventListener('click', function(event) {
            var word = ['приключение', 'криволапка', 'совершеннолетие']
            var text = document.querySelector("#text").value;
            text = text.toLowerCase()
            if (text == word['{{ level }}' - 1]){
                document.querySelector("#cat_false").classList.remove("transform_end");
                document.querySelector("#cat_true").classList.toggle("transform_end");
                document.querySelector("#check").classList.toggle("block_button");
                document.querySelector("#text").disabled = true;
                level_up = 1
                }
            else{
                document.querySelector("#cat_false").classList.toggle("transform_end");
            }
        });
    </script>
</body>
</html>