<html lang="ru">
<head>
    <!--Параметры страницы-->
    <meta charset="utf-8">
    <title>HappyBirthday</title>
    <link rel="shortcut icon" href="/static/icon.png" type="image/png">
    <link rel="stylesheet" href="/static/styles/preview.css">
    <script src="/static/js/preview.js"></script>

<body>
    <div>
        <video autoplay muted class="center">
            <source src="/static/opengift.mp4" type="video/mp4">
        </video>
        <img src="/static/white.png" class="transform transform_center">
    </div>
</body>
</html>