<html>
<head>
    <!--Параметры страницы-->
    <meta charset="utf-8">
    <title>HappyBirthday</title>
    <link rel="shortcut icon" href="/static/icon.png" type="image/png">
    <link rel="stylesheet" href="/static/styles/second_level.css">
    <script src="https://cdn.tailwindcss.com"></script>

<body>
    <img src="/static/white.png" class="transform_center transform_start" id="white">
    <!--img src="/static/happy_birthday.png" class="title"-->

    <div class="task">
        <img src="/static/level2_task.png">
    </div>

    <div id="word" class="word">
        <div class="row">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
        </div>
        <div class="row">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
        </div>
        <div class="row">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
        </div>
        <div class="row">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
        </div>
        <div class="row">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
        </div>
        <div class="row">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
        </div>
        <div class="row">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
        </div>
        <div class="row">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
            <input type="button" class="word_letter start" value="">
        </div>
    </div>

    <div id="done" class="done hide_block">
        <img src="/static/done_level.png">
    </div>
    <div id="error" class="error hide_block">
        <img src="/static/level2_error.png">
    </div>    

    <div class="keyboard">
        <div class="row">
            <input type="button" class="letter start" value="Й">
            <input type="button" class="letter start" value="Ц">
            <input type="button" class="letter start" value="У">
            <input type="button" class="letter start" value="К">
            <input type="button" class="letter start" value="Е">
            <input type="button" class="letter start" value="Н">
            <input type="button" class="letter start" value="Г">
            <input type="button" class="letter start" value="Ш">
            <input type="button" class="letter start" value="Щ">
            <input type="button" class="letter start" value="З">
            <input type="button" class="letter start" value="Х">
            <input type="button" class="letter start" value="Ъ">
        </div>
        <div class="row">
            <input type="button" class="letter start" value="Ф">
            <input type="button" class="letter start" value="Ы">
            <input type="button" class="letter start" value="В">
            <input type="button" class="letter start" value="А">
            <input type="button" class="letter start" value="П">
            <input type="button" class="letter start" value="Р">
            <input type="button" class="letter start" value="О">
            <input type="button" class="letter start" value="Л">
            <input type="button" class="letter start" value="Д">
            <input type="button" class="letter start" value="Ж">
            <input type="button" class="letter start" value="Э">
        </div>
        <div class="row">
            <input type="button" class="letter start" value="Я">
            <input type="button" class="letter start" value="Ч">
            <input type="button" class="letter start" value="С">
            <input type="button" class="letter start" value="М">
            <input type="button" class="letter start" value="И">
            <input type="button" class="letter start" value="Т">
            <input type="button" class="letter start" value="Ь">
            <input type="button" class="letter start" value="Б">
            <input type="button" class="letter start" value="Ю">
        </div>
        <div class="row">
            <input id="check_word" type="button" class="clear start hide_block" value="Проверить">
            <input id="clear" type="button" class="clear start" value="&#8592;">
        </div>

    <div class="back" id="back">
        <img src="/static/back.png">
    </div>


    <script src="/static/js/second_level.js"></script>
</body>
